<h1>Bonjour !</h1>

<p>Pour changer votre mot de passe, cliquez sur le lien ci-dessous</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Le lien expirera d'ici {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement </p>
<p style="font-size: 10px">*Si vous n'avez pas demandez de changement de mot de passe, ne tenez pas compte de cet email</p>
