@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #24252A;
    align-items: center;
    padding: 30px 10%;
    max-height: 100px;
}

.logo {
    cursor: pointer;
}

.navLink{
    list-style: none;
}

.navLink>li {
    display: inline-block;
    padding: 0px 20px;
}

.navLink>li>a{
    transition: all 0.3s ease 0s;
}
.navLink>li>a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}
